@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,400&family=Open+Sans&display=swap');
/*! ---------------------------------------------------------
	
	* VARIABLES
	
------------------------------------------------------------*/@-webkit-keyframes fade-in{from{opacity:0}to{opacity:1}}@keyframes fade-in{from{opacity:0}to{opacity:1}}@-webkit-keyframes fade-in-top{from{opacity:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fade-in-top{from{opacity:0;-webkit-transform:translateY(-100%);transform:translateY(-100%)}to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes slide-in-bottom{from{opacity:0;-webkit-transform:translateY(10%);transform:translateY(10%)}to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes slide-in-bottom{from{opacity:0;-webkit-transform:translateY(10%);transform:translateY(10%)}to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}/*! ---------------------------------------------------------
	
	* BASE
	
------------------------------------------------------------*/*,:after,:before{box-sizing:border-box}body,html{height:100%;margin:0;padding:0;font-family:sans-serif;font-size:16px;background-color:#fff;position:initial!important}@media screen and (max-width:992px){body,html{font-size:15px}}@media screen and (max-width:768px){body,html{font-size:14px}}@media screen and (max-width:576px){body,html{font-size:13px}}body{position:relative;height:100%;font-weight:200;line-height:1.5;color:#000;overflow-x:hidden;-webkit-font-smoothing:antialiased}body>form{overflow-x:hidden}h1{font-size:48px;font-size:3rem;line-height:1.08333;margin:0 0 .01563em 0}.content-area h2{margin-top:3rem}h2{font-size:38px;font-size:2.375rem;line-height:1.26316;margin:0 0 .01974em 0}h3{font-size:26px;font-size:1.625rem;line-height:1.38462;margin:0 0 .02885em 0}h4{font-size:22px;font-size:1.375rem;line-height:1.27273;margin:0 0 .03409em 0}h5{font-size:18px;font-size:1.125rem;line-height:1.33333;margin:0 0 .04167em 0}p{margin:0 0 1.5rem}blockquote,ol,pre,table,ul{margin-bottom:1.5rem}@media screen and (min-width:1200px){.container{max-width:1200px!important}}ol ol,ol ul,ul ol,ul ul{margin:0}b,code,em,small,strong{line-height:1}sub,sup{vertical-align:baseline;position:relative;top:-.4em}sub{top:.4em}main div.container{margin-bottom:0!important}b,strong{font-weight:700}a{color:#00f;text-decoration:none;-webkit-transition:.25s ease-in-out all;transition:.25s ease-in-out all}a:hover{color:#0000e6;text-decoration:none}hr{display:block;height:1px;width:25%;border:0;border-top:1px solid #fff;margin-top:1.5rem;margin-bottom:1.5rem;padding:0}pre{background:#e6e6e6;padding:10px 15px}.content-area h2{margin:3rem 0 2rem}.content-area h3{margin:2rem 0 1rem}.content-area img{max-width:100%;height:auto}/*! ---------------------------------------------------------
	
	* Filename:			  bootsrap.scss
	* Description: 		Imports bootstrap styles from node_modules
	
------------------------------------------------------------ */html{box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:1200px){.container{max-width:1140px}}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-1{-webkit-box-flex:0;-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%}.col-2{-webkit-box-flex:0;-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%}.col-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-webkit-box-flex:0;-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-5{-webkit-box-flex:0;-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%}.col-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-webkit-box-flex:0;-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%}.col-8{-webkit-box-flex:0;-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%}.col-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-webkit-box-flex:0;-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%}.col-11{-webkit-box-flex:0;-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%}.col-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.order-last{-webkit-box-ordinal-group:14;-webkit-order:13;-ms-flex-order:13;order:13}.order-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}.order-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}.order-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}.order-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}.order-4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}.order-5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}.order-6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}.order-7{-webkit-box-ordinal-group:8;-webkit-order:7;-ms-flex-order:7;order:7}.order-8{-webkit-box-ordinal-group:9;-webkit-order:8;-ms-flex-order:8;order:8}.order-9{-webkit-box-ordinal-group:10;-webkit-order:9;-ms-flex-order:9;order:9}.order-10{-webkit-box-ordinal-group:11;-webkit-order:10;-ms-flex-order:10;order:10}.order-11{-webkit-box-ordinal-group:12;-webkit-order:11;-ms-flex-order:11;order:11}.order-12{-webkit-box-ordinal-group:13;-webkit-order:12;-ms-flex-order:12;order:12}.offset-1{margin-left:8.33333%}.offset-2{margin-left:16.66667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33333%}.offset-5{margin-left:41.66667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33333%}.offset-8{margin-left:66.66667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33333%}.offset-11{margin-left:91.66667%}@media (min-width:576px){.col-sm{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{-webkit-box-flex:0;-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%}.col-sm-2{-webkit-box-flex:0;-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%}.col-sm-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-sm-5{-webkit-box-flex:0;-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%}.col-sm-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%}.col-sm-8{-webkit-box-flex:0;-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%}.col-sm-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%}.col-sm-11{-webkit-box-flex:0;-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%}.col-sm-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.order-sm-last{-webkit-box-ordinal-group:14;-webkit-order:13;-ms-flex-order:13;order:13}.order-sm-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}.order-sm-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}.order-sm-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}.order-sm-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}.order-sm-4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}.order-sm-5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}.order-sm-6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}.order-sm-7{-webkit-box-ordinal-group:8;-webkit-order:7;-ms-flex-order:7;order:7}.order-sm-8{-webkit-box-ordinal-group:9;-webkit-order:8;-ms-flex-order:8;order:8}.order-sm-9{-webkit-box-ordinal-group:10;-webkit-order:9;-ms-flex-order:9;order:9}.order-sm-10{-webkit-box-ordinal-group:11;-webkit-order:10;-ms-flex-order:10;order:10}.order-sm-11{-webkit-box-ordinal-group:12;-webkit-order:11;-ms-flex-order:11;order:11}.order-sm-12{-webkit-box-ordinal-group:13;-webkit-order:12;-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33333%}.offset-sm-2{margin-left:16.66667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33333%}.offset-sm-5{margin-left:41.66667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33333%}.offset-sm-8{margin-left:66.66667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33333%}.offset-sm-11{margin-left:91.66667%}}@media (min-width:768px){.col-md{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-1{-webkit-box-flex:0;-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%}.col-md-2{-webkit-box-flex:0;-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%}.col-md-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-md-5{-webkit-box-flex:0;-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%}.col-md-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%}.col-md-8{-webkit-box-flex:0;-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%}.col-md-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%}.col-md-11{-webkit-box-flex:0;-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%}.col-md-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.order-md-last{-webkit-box-ordinal-group:14;-webkit-order:13;-ms-flex-order:13;order:13}.order-md-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}.order-md-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}.order-md-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}.order-md-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}.order-md-4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}.order-md-5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}.order-md-6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}.order-md-7{-webkit-box-ordinal-group:8;-webkit-order:7;-ms-flex-order:7;order:7}.order-md-8{-webkit-box-ordinal-group:9;-webkit-order:8;-ms-flex-order:8;order:8}.order-md-9{-webkit-box-ordinal-group:10;-webkit-order:9;-ms-flex-order:9;order:9}.order-md-10{-webkit-box-ordinal-group:11;-webkit-order:10;-ms-flex-order:10;order:10}.order-md-11{-webkit-box-ordinal-group:12;-webkit-order:11;-ms-flex-order:11;order:11}.order-md-12{-webkit-box-ordinal-group:13;-webkit-order:12;-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33333%}.offset-md-2{margin-left:16.66667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33333%}.offset-md-5{margin-left:41.66667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33333%}.offset-md-8{margin-left:66.66667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33333%}.offset-md-11{margin-left:91.66667%}}@media (min-width:992px){.col-lg{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{-webkit-box-flex:0;-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%}.col-lg-2{-webkit-box-flex:0;-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%}.col-lg-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-lg-5{-webkit-box-flex:0;-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%}.col-lg-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%}.col-lg-8{-webkit-box-flex:0;-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%}.col-lg-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%}.col-lg-11{-webkit-box-flex:0;-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%}.col-lg-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.order-lg-last{-webkit-box-ordinal-group:14;-webkit-order:13;-ms-flex-order:13;order:13}.order-lg-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}.order-lg-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}.order-lg-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}.order-lg-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}.order-lg-4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}.order-lg-5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}.order-lg-6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}.order-lg-7{-webkit-box-ordinal-group:8;-webkit-order:7;-ms-flex-order:7;order:7}.order-lg-8{-webkit-box-ordinal-group:9;-webkit-order:8;-ms-flex-order:8;order:8}.order-lg-9{-webkit-box-ordinal-group:10;-webkit-order:9;-ms-flex-order:9;order:9}.order-lg-10{-webkit-box-ordinal-group:11;-webkit-order:10;-ms-flex-order:10;order:10}.order-lg-11{-webkit-box-ordinal-group:12;-webkit-order:11;-ms-flex-order:11;order:11}.order-lg-12{-webkit-box-ordinal-group:13;-webkit-order:12;-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33333%}.offset-lg-2{margin-left:16.66667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33333%}.offset-lg-5{margin-left:41.66667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33333%}.offset-lg-8{margin-left:66.66667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33333%}.offset-lg-11{margin-left:91.66667%}}@media (min-width:1200px){.col-xl{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{-webkit-box-flex:0;-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%}.col-xl-2{-webkit-box-flex:0;-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%}.col-xl-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-xl-5{-webkit-box-flex:0;-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%}.col-xl-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%}.col-xl-8{-webkit-box-flex:0;-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%}.col-xl-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%}.col-xl-11{-webkit-box-flex:0;-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%}.col-xl-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-webkit-box-ordinal-group:0;-webkit-order:-1;-ms-flex-order:-1;order:-1}.order-xl-last{-webkit-box-ordinal-group:14;-webkit-order:13;-ms-flex-order:13;order:13}.order-xl-0{-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0}.order-xl-1{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1}.order-xl-2{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2}.order-xl-3{-webkit-box-ordinal-group:4;-webkit-order:3;-ms-flex-order:3;order:3}.order-xl-4{-webkit-box-ordinal-group:5;-webkit-order:4;-ms-flex-order:4;order:4}.order-xl-5{-webkit-box-ordinal-group:6;-webkit-order:5;-ms-flex-order:5;order:5}.order-xl-6{-webkit-box-ordinal-group:7;-webkit-order:6;-ms-flex-order:6;order:6}.order-xl-7{-webkit-box-ordinal-group:8;-webkit-order:7;-ms-flex-order:7;order:7}.order-xl-8{-webkit-box-ordinal-group:9;-webkit-order:8;-ms-flex-order:8;order:8}.order-xl-9{-webkit-box-ordinal-group:10;-webkit-order:9;-ms-flex-order:9;order:9}.order-xl-10{-webkit-box-ordinal-group:11;-webkit-order:10;-ms-flex-order:10;order:10}.order-xl-11{-webkit-box-ordinal-group:12;-webkit-order:11;-ms-flex-order:11;order:11}.order-xl-12{-webkit-box-ordinal-group:13;-webkit-order:12;-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33333%}.offset-xl-2{margin-left:16.66667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33333%}.offset-xl-5{margin-left:41.66667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33333%}.offset-xl-8{margin-left:66.66667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33333%}.offset-xl-11{margin-left:91.66667%}}.d-none{display:none!important}.d-inline{display:inline!important}.d-inline-block{display:inline-block!important}.d-block{display:block!important}.d-table{display:table!important}.d-table-row{display:table-row!important}.d-table-cell{display:table-cell!important}.d-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}@media (min-width:576px){.d-sm-none{display:none!important}.d-sm-inline{display:inline!important}.d-sm-inline-block{display:inline-block!important}.d-sm-block{display:block!important}.d-sm-table{display:table!important}.d-sm-table-row{display:table-row!important}.d-sm-table-cell{display:table-cell!important}.d-sm-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-sm-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:768px){.d-md-none{display:none!important}.d-md-inline{display:inline!important}.d-md-inline-block{display:inline-block!important}.d-md-block{display:block!important}.d-md-table{display:table!important}.d-md-table-row{display:table-row!important}.d-md-table-cell{display:table-cell!important}.d-md-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-md-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:992px){.d-lg-none{display:none!important}.d-lg-inline{display:inline!important}.d-lg-inline-block{display:inline-block!important}.d-lg-block{display:block!important}.d-lg-table{display:table!important}.d-lg-table-row{display:table-row!important}.d-lg-table-cell{display:table-cell!important}.d-lg-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-lg-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}}@media (min-width:1200px){.d-xl-none{display:none!important}.d-xl-inline{display:inline!important}.d-xl-inline-block{display:inline-block!important}.d-xl-block{display:block!important}.d-xl-table{display:table!important}.d-xl-table-row{display:table-row!important}.d-xl-table-cell{display:table-cell!important}.d-xl-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-xl-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}}@media print{.d-print-none{display:none!important}.d-print-inline{display:inline!important}.d-print-inline-block{display:inline-block!important}.d-print-block{display:block!important}.d-print-table{display:table!important}.d-print-table-row{display:table-row!important}.d-print-table-cell{display:table-cell!important}.d-print-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important}.d-print-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:inline-flex!important}}.container-fluid{padding-left:0;padding-right:0}@media screen and (min-width:575px) and (max-width:991px){.container{max-width:100%}}
/*! ---------------------------------------------------------
	
	* COMPONENTS
	
------------------------------------------------------------*/.banner-image{position:absolute;z-index:0;top:0;left:0;width:100%;height:100%}.banner-image img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;font-family:'object-fit: cover; object-position: center;'}.button{position:relative;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;color:#4d4d4d;text-transform:uppercase;font-size:13px;font-weight:700;border:none}.button.button--primary{background:#00abd8;color:#fff}.button.button--secondary{background:#9e2065;color:#fff}.footer{background:#d3d3d3}.footer .footer-column{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}@media screen and (max-width:991px){.footer .footer-column{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center}}.footer .footer-column .list{padding-left:1.2rem}.footer .footer-column .list.list--inline li{display:inline-block}.footer .footer-column .list.list--col-2{-webkit-columns:2;-moz-columns:2;columns:2}.footer .footer-column .list.list--col-3{-webkit-columns:3;-moz-columns:3;columns:3}.footer .footer-column .logo img{max-width:100%}.footer .footer-column .address{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start}.footer .footer-row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}@media screen and (max-width:991px){.footer .footer-row{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}}.footer-copyright-bar{padding:1rem 0;background:#56565b}.footer-copyright-bar .col-12{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}@media screen and (max-width:767px){.footer-copyright-bar .col-12{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}}.footer-copyright-bar .col-12 .left,.footer-copyright-bar .col-12 .right{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.footer-copyright-bar .col-12 ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin:0;padding:0;list-style:none}.footer-copyright-bar .col-12 ul li{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center;color:#fff}.footer-copyright-bar .col-12 ul li a,.footer-copyright-bar .col-12 ul li span{color:#fff;-webkit-transition:all .15s ease;transition:all .15s ease}.footer-copyright-bar .col-12 ul li a:hover{color:rgba(255,255,255,.7)}.footer-copyright-bar .col-12 ul.social li{margin:0 .25rem}.footer-copyright-bar .col-12 ul.social li:last-of-type{margin-right:0}.footer-copyright-bar .col-12 ul.links li{margin:0 .25rem}.footer-copyright-bar .col-12 ul.links li:last-of-type{margin-right:0}.footer-copyright-bar .col-12 ul.powered li{margin:0 .25rem}@media screen and (max-width:1199px){.grid.grid-1x3-b .cards .card:nth-of-type(1) .action{left:-1rem}.grid.grid-1x3-b .cards .card:nth-of-type(2) .action{right:-1rem}.grid.grid-1x3-b .cards .card:nth-of-type(3) .action{right:-1rem}}@media screen and (max-width:767px){.grid.grid-1x3-b .cards{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.grid.grid-1x3-b .cards .card{width:100%;padding-top:55%}.grid.grid-1x3-b .cards .card:nth-of-type(2){margin:2rem 0}.grid.grid-1x3-b .cards .card .action{background:#5a5a5a}.grid.grid-1x3-b .cards .card .action span{opacity:1;max-height:100px;margin-top:2rem}}@media screen and (max-width:575px){.grid.grid-1x3-b .cards .card{padding-top:65%}.grid.grid-1x3-b .cards .card .action{top:50%!important;width:160px;height:160px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.grid.grid-1x3-b .cards .card:nth-of-type(3){background-position:100% 22%}}.header{z-index:100;box-sizing:border-box}.header.is-sticky.notification-banner.notification-banner--relative{top:0!important}.menu.menu--desktop ul{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.menu.menu--desktop ul li[data-depth="0"]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.menu.menu--desktop ul li[data-depth="0"] a{color:#fff}.menu.menu--desktop ul li[data-depth="0"].parent:hover ul[data-depth="0"]{display:block;-webkit-animation:slide-in-bottom .3s ease-in-out forwards;animation:slide-in-bottom .3s ease-in-out forwards}.menu.menu--desktop ul li[data-depth="0"] .icon{margin-left:4px;font-size:inherit}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"]{display:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:absolute;z-index:10;top:100%;left:0;width:240px;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);background:#fff;padding:0}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"].active{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"].display-left{right:0;left:initial}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"] li{position:relative;margin:0}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"] li:hover ul[data-depth="1"]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-animation:slide-in-bottom .3s ease-in-out forwards;animation:slide-in-bottom .3s ease-in-out forwards}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"] li ul[data-depth="1"]{display:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:absolute;top:0;right:-100%;width:100%;background:#fff}.menu.menu--desktop ul li[data-depth="0"] ul[data-depth="0"] li ul[data-depth="1"].display-left{right:initial;left:-100%}.menu.menu--desktop ul li[data-depth="1"] a{color:#000}.menu.menu--desktop ul li:last-of-type ul{right:0;left:initial}.menu.menu--mobile{position:fixed;z-index:100;top:0;right:0;height:100%;width:280px;padding:10px;background:#fff;-webkit-transform:translateX(101%);-ms-transform:translateX(101%);transform:translateX(101%);-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;box-shadow:-6px 0 12px rgba(0,0,0,.05);overflow-y:scroll}.menu.menu--mobile.active{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.menu.menu--mobile ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:0}.menu.menu--mobile ul li{position:relative;margin:0}.menu.menu--mobile ul li a{font-size:.9375rem;}.menu.menu--mobile ul li .icon{position:absolute;top:2px;right:10px;width:30px;height:30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;cursor:pointer;font-size:1.5rem;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.menu.menu--mobile ul li .icon.active{-webkit-transform:rotateZ(90deg);-ms-transform:rotate(90deg);transform:rotateZ(90deg)}.menu.menu--mobile ul li ul{opacity:0;max-height:0;overflow:hidden;position:relative;bottom:unset;left:unset;width:100%;padding-left:1rem;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);border:none;box-shadow:none;-webkit-transition:all .3s linear;transition:all .3s linear}.menu.menu--mobile ul li ul li a { padding:5px; }.menu.menu--mobile ul li ul.active{opacity:1}.menu ul{margin:0;padding:0;list-style:none}.menu ul li{position:relative;margin:0 5px}.menu ul li a{display:block;padding:10px;color:#282828;font-size:.875rem;font-weight:700}.mobile__toggle{text-align:right;font-size:1.5rem;cursor:pointer}.mobile__toggle.mobile__toggle--mobile{padding:20px 20px 0 0;margin-bottom:20px}.mobile__toggle.mobile__toggle--mobile .far { font-size:30px; }body.dnnEditState .notification-banner{position:relative!important}.notification-banner{opacity:0;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);position:relative;background:grey;padding:1.5rem 0;color:#fff;text-align:center;-webkit-animation:slide-in-bottom .6s ease-in-out 1s forwards;animation:slide-in-bottom .6s ease-in-out 1s forwards}@media screen and (max-width:767px){.notification-banner{padding-top:2.5rem}}.notification-banner.notification-banner--top[data-sticky=true]{position:fixed;z-index:100;top:0;left:0;width:100%}.notification-banner.notification-banner--bottom[data-sticky]{position:fixed;z-index:100;bottom:0;left:0;width:100%}.notification-banner [data-banner-close]{position:absolute;top:1rem;right:1rem}.notification-banner p:last-of-type{margin-bottom:0}.inner-banner{position:relative;height:500px;background-position:center;background-size:cover;background-repeat:no-repeat}.inner-banner .container,.inner-banner .container>.row{height:100%}@media screen and (max-width:767px){.inner-banner{height:400px}}.uvp{margin:0 0 1.5rem 0;padding:1rem;background:#f0f0f0;list-style:none}.uvp li{font-weight:700;font-size:1.5rem;line-height:1;color:#349df3}.uvp li span{color:#000;font-size:1rem}.two-columns{-webkit-columns:2;-moz-columns:2;columns:2}.three-columns{-webkit-columns:3;-moz-columns:3;columns:3}.four-columns{-webkit-columns:4;-moz-columns:4;columns:4}address{font-style:normal}
/* ---------------------------------------------------------
	
	* Filename:			  lazyload.scss
	* Description: 		Sets styles for lazyload.js.
	
------------------------------------------------------------*/.lazyload,.utm-form{opacity:0;-webkit-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out}.loaded{opacity:1}.lazyload[data-was-processed=true]{opacity:1}/*!
* DO NOT MODIFY ANYTHING ABOVE THIS. STYLES ABOVE WILL BE OVERWRITTEN.
* Add all custom styles below.
*/


/* ---------------------------------------------------------
	
	* Filename:			  feature-1.scss
	* Description: 		Define the layout for feature-1
  * Version:				1.0.1
  * Last Modified:  3.28.2019
	
------------------------------------------------------------*/
.feature.feature--1 .feature__title { text-align: center; }

.feature.feature--1 .feature__subtitle { text-align: center; }

.feature.feature--1 .feature__text { text-align: center; }

.feature.feature--1 .feature__buttons { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 575px) { .feature.feature--1 .feature__buttons { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

/** BEGIN COMPONENT OVERRIDES HERE **/

.feature.feature--1 .feature__title{
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: none;
	margin-bottom:  1rem;
}



/* ---------------------------------------------------------
	
	* Filename:			  footer-1.scss
  * Description: 		Define the layout for footer-1

------------------------------------------------------------*/
/** BEGIN COMPONENT OVERRIDES HERE **/

.footer-top{
	box-shadow: 0px 2px 12px rgba(0,0,0,0.6);
	margin-top:  70px;
}

.footer-top .top{
	background: #000000;
	display:  block;
	text-align: center;
	font-size: 1.25rem;
	color:  #ffffff;
	font-weight: 900;
	font-family:  'Merriweather', serif;
	font-style: italic;
	padding:  10px 0;
}

.footer-top .bottom{
	background: #e10100;
	text-align: center;
	padding:  2rem 0;
	text-shadow:  0px 2px 4px rgba(0,0,0,0.3);
}

.footer-top .bottom span{
	color:  #ffffff;
	font-size: 1.0625rem;
	font-weight: bold;
	font-family:  'Merriweather', serif;
}

.footer-top .bottom h3{
	color:  #ffffff;
	font-size: 1.875rem;
	font-weight: bold;
	font-family:  'Merriweather', serif;
}

.footer{
	background: #ececec;
}

.footer .upper{
	padding:  50px 0 25px;
}

#footer-one-pane .logo{
	margin-bottom:  1.3rem;
}

#footer-one-pane .logo img{
	max-width:300px;
	width:300px;
	height:auto;
}

#footer-one-pane h4{
	font-size: 1.25rem;
	font-weight: 900;
	font-family:  'Merriweather', serif;
	text-transform: none;
	text-decoration: underline;
	font-style: italic;
	margin-bottom:  10px;
}

#footer-one-pane .phone-number{margin-bottom:10px;}

#footer-one-pane .phone-number .fas{
	display:  inline-block;
	margin-right:12px;
	color:  #000;
	font-size: 1rem;
}

#footer-one-pane .address img {
	margin:3px 9px 0 0;
}

#footer-one-pane .phone-number a,
#footer-one-pane address{
	color:  #2d2d9e;
	font-weight: bold;
	font-size: 1.0625rem;
	line-height: 1.2;
}

#footer-one-pane .phone-number a:hover,
#footer-one-pane address:hover {color:#de0100}

.footer h3.title,
.footer h3.title a{
	color:  #191919;
	font-style: italic;
	font-family:  'Merriweather', serif;
	font-weight: 900;
	font-size: 1.375rem;
}

.footer .footer-column .list{
	list-style: none;
	padding-left:  0;
}

.footer .footer-column .list li {margin-bottom:.25rem}

.footer .footer-column .list li a{
	color:  #2d2d9e;
	font-size: 1.0625rem;
	font-weight:bold;

}
.footer .footer-column .title a:hover,
.footer .footer-column .list li a:hover {color:#e10100}

#footer-four-pane .button{
	padding:10px;
	margin-bottom:20px;
	width:200px;
}

#footer-four-pane .footer-column{
	align-items: end;
}

/* ---------------------------------------------------------
	
  * Filename:			  footer-copyright-bar-1.scss
  
------------------------------------------------------------*/
.footer-copyright-bar.footer-copyright-bar-1 .right, .footer-copyright-bar.footer-copyright-bar-1 .left { width: 50%; }

@media screen and (max-width: 767px) { .footer-copyright-bar.footer-copyright-bar-1 .right, .footer-copyright-bar.footer-copyright-bar-1 .left { width: 100%; } }

.footer-copyright-bar.footer-copyright-bar-1 .left { -webkit-box-pack: start !important; -webkit-justify-content: flex-start !important; -ms-flex-pack: start !important; justify-content: flex-start !important; }

@media screen and (max-width: 767px) { .footer-copyright-bar.footer-copyright-bar-1 .left { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; } }

.footer-copyright-bar.footer-copyright-bar-1 .right { -webkit-box-pack: end !important; -webkit-justify-content: flex-end !important; -ms-flex-pack: end !important; justify-content: flex-end !important; }

@media screen and (max-width: 767px) { .footer-copyright-bar.footer-copyright-bar-1 .right { -webkit-box-pack: center !important; -webkit-justify-content: center !important; -ms-flex-pack: center !important; justify-content: center !important; } }

@media screen and (max-width: 767px) { .footer-copyright-bar.footer-copyright-bar-1 .social li:first-of-type { display: none; } }

/** BEGIN COMPONENT OVERRIDES HERE **/

.footer-copyright-bar{
	background: #ffffff;
	padding:  10px 0;
	box-shadow:  0px 0px 10px rgba(0,0,0,0.3);
}

.footer-copyright-bar .col-12 ul li a, 
.footer-copyright-bar .col-12 ul li span,
.footer-copyright-bar .col-12 ul.links li,
.footer-copyright-bar .col-12 ul.links li a{
	color:  #191919;
	font-family:  'Merriweather', serif;
	font-size: 0.875rem;
}

.footer-copyright-bar .col-12 ul li a:hover {color:#de0100}

.footer-copyright-bar .col-12 ul.links li{
	position: relative;
}

.footer-copyright-bar .col-12 ul.links li img{
	margin-left:  7px;
	top:  3px;
	position: relative;
}



/* Custom Class Styling */
.text-center {text-align:center}
.font-bold{font-weight:bold}
.text-blue,   .blog-content .post-title a  {color:#00018d}
.text-grey {color:#333}
.text-dark {color:#191919}

.justify-center {justify-content:center}
.relative {position:relative}

.bg-img{position:absolute;z-index:-1;top:0;left:0;height:100%;width:100%;object-fit:cover}
.feature.feature--1 .bg-img {top:15%;z-index:0}
.feature.feature--1 .bg-img img {width:100%;height:auto}
.tile-link::before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:3}


/* Spacing */

.mb-1 {margin-bottom:1rem}
.mb-2 {margin-bottom:2rem}
.mb-3 {margin-bottom:3rem}
.mb-4 {margin-bottom:4rem}
.mb-5 {margin-bottom:5rem}
.mb-6 {margin-bottom:6rem}
.mt-6{margin-top:6rem}
.mt-0{margin-top:0!important}

/* Link Effect */
.content-area p a, .content-area ul li a, a.link-effect:hover, .widget li a, .navigation a:hover {color:#e10100;font-weight:bold;text-decoration:underline}

#footer-two-pane .footer-column .list li a, #footer-three-pane .footer-column .list li a {text-decoration:none}
#footer-two-pane .footer-column .list li a:hover, #footer-three-pane .footer-column .list li a:hover {text-decoration:underline;}

  .content-area p a:hover, .content-area ul li a:hover, a.link-effect, .widget li a:hover, .navigation a {color:#00018d;text-decoration:underline;font-weight:bold}

/** custom css **/


html, p{
	font-family:  'Open Sans', sans-serif;
	font-size: 1rem;
}

h1,h2,h3{
	font-family:  'Merriweather', serif;
	text-transform: none;
}


.button{
	font-family:  'Merriweather', serif;
	font-size: 1.1875rem;
	font-weight: bold;
	text-transform:  none;
	padding: 10px 25px;
	text-transform: center;
}

.button.button--primary{
	background: #00018d;
	border:2px solid #00018d;
	color:#fff;
}

.button.button--primary:hover {
	background:transparent;
	color:#00018d;
}
.button.button--secondary{
	background: #de0100;
	border:2px solid #de0100;
	color:#fff;
}

.button.button.button--secondary:hover {
	background:transparent;
	color:#de0100;
}

.mobile__cta.button.button--primary:hover, #dnn_BottomRightPane .button.button--primary:hover, .mobile__number.button.button--primary:hover {background:#fff ; color:#e00100;border-color:#e00100 }  


.icon-blue, .icon-red:hover {
filter: invert(14%) sepia(80%) saturate(4784%) hue-rotate(241deg) brightness(57%) contrast(132%);}

.icon-red, .icon-blue:hover {
	filter: invert(17%) sepia(95%) saturate(4948%) hue-rotate(356deg) brightness(82%) contrast(117%);
}




@media screen and (max-width:1200px) {
	.menu.menu--desktop ul li[data-depth="0"] a {
		font-size:.9rem
	}

	.bottom #dnn_BottomRightPane .button{
		font-size:1rem;
		padding:10px
	}

	.banner, .inner-banner {margin:160px 0 80px}

	
	.feature.feature--1 .bg-img {top:-10%}
	.title-wrap h2 {font-size:2rem}
}




@media screen and (min-width:  768px) and (max-width:  991px){

	.box__header h3,
	.banner-area.banner-area--3 span, 
	.banner-area.banner-area--3 .banner-area__text{
		font-size: 1.5rem;
	}

	.banner-area.banner-area--3 .banner-area__title{
		font-size: 2rem;
	}

	.page-title.page-title-text-middle-left .page-title__text {font-size:2.7rem}

	.grid-boxes.grid-boxes-1x3--2 .box__content ul li{
		font-size:  1rem;
	}

	.grid-boxes.grid-boxes-1x3--2 .box__content{
		padding:  20px 10%;
	}

	.service-box span{
		font-size: 1.4rem;
	}


	.footer-top .bottom h3{
		font-size: 1.25rem;
	}

	.footer-top .bottom span{
		font-size: 1rem;
	}




}

@media screen and (max-width:  991px){

	#footer-four-pane .footer-column{
		align-items: center;
	}

	#footer-one-pane .logo img {height:100px}

	#footer-one-pane .address img {position:relative;left:60px}
	#footer-one-pane .social-icons {margin-bottom:1.5rem}


	
}


@media screen and (max-width:767px){

	.button{
		font-size: 0.9375rem;
	}

	.banner{
		height:700px;
	}

	.box__header h3 {font-size:1.5rem}

	
	.banner, .inner-banner {margin:128px 0 80px}

	.banner .banner-image {
		height:350px;
	}

	.banner-form .formwrap {margin:0 auto}

	.sideform, .customer-lobby-reviews {margin:25px auto}

	.banner-area.banner-area--3{
		width:  100%;
		padding:  20px;
		position: relative;
		text-align: center;
		transform: translateY(0);
		top:10%;
	}

	.banner-form{
		width:  100%;
		position: relative;
		top:17%;
		transform: translateY(0);

	}

	.banner-area.banner-area--3 span, 
	.banner-area.banner-area--3 .banner-area__text{
		font-size: 1.125rem;
	}

	.banner-area.banner-area--3 .banner-area__title{
		font-size: 1.25rem;
	}

	h2,
	.feature.feature--1 .feature__title,
	.title-wrap h2{
		font-size: 1.375rem;
	}

	.grid-boxes.grid-boxes-1x3--2 .col-md-4{
		margin-bottom:  25px;
	}

	.title-wrap img{
		width:  50px;
	}

	.slider.slider-2-new .flickity .carousel-cell{
		width:  100%;
	}

	.footer-top .bottom .col-md-3{
		margin-bottom:  25px;
	}

	.inner-banner {height:300px}

	.footer-top .top{
		font-size: 1.125rem;
		text-wrap:balance
	}


	.header.header--6 .logo img {width:200px}
}

