---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from "../components/Banner.astro";
---

<Layout title="Steve's Plumbing & Heating - Air Conditioning Services - Wisconsin Rapids WI">
	<Banner banner_span="We Can Take Care of All Your" banner_title="Plumbing, Heating, & A/C" banner_text="Needs! 100% Satisfaction Guarantee!"/>
	</main>
</Layout>

