---
import { Image } from 'astro:assets'
import ContactForm from './ContactForm.astro';
import banner_image from '../images/design-assets/home-banner-1600.webp';
import contactForm from '../contactform/index.html';

interface Props {
  banner_title:string;
  banner_text:string;
  banner_span:string;
}

const { banner_title, banner_text, banner_span } = Astro.props;
---

<div class="banner">
    <Image src={banner_image} alt="Home Banner" class="banner-image" loading="eager"/>
  <div class="container position-relative" style="height: 100%">
    <div class="banner-area banner-area--3">
      <span>{banner_span}</span>
      <h1 class="banner-area__title">{banner_title}</h1>
      <p class="banner-area__text">{banner_text}</p>
    </div>
    <div class="col-md-5 banner-form">
        <div class="formwrap"><ContactForm /></div>
    </div>
  </div>
</div>
