---
import { Image } from "astro:assets";
import logo from "../images/design-assets/logo.svg";
import twentyFourLogo from "../images/design-assets/247-icon.webp";
---

<header class="header header--6">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="logo">
            <a href="/">
              <Image src={logo} alt="Logo" />
            </a>
          </div>
          <div class="top-center-pane">
            <a
              href="/free-estimate"
              title="Free Estimate"
              class="button button--primary">Get an Estimate</a
            >
          </div>
          <div class="top-right-pane">
            <Image src={twentyFourLogo} alt="24/7 Logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-none d-lg-block">
            <div id="menu-desktop" class="menu menu--desktop">
              <ul>
                <li class="parent" data-depth="0">
                  <a
                    href="/Plumbing"
                    target=""
                    class="dropdown-toggle"
                    title="Plumbing">Plumbing<i class="icon false"></i></a
                  >

                  <ul class="dropdown" data-depth="0">
                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Emergency-Services"
                        target=""
                        title="Emergency Services">Emergency Services</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Water-Heaters"
                        target=""
                        title="Water Heaters">Water Heaters</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Fixture-Installation"
                        target=""
                        title="Fixture Installation">Fixture Installation</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Toilet-Installation"
                        target=""
                        title="Toilet Installation">Toilet Installation</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Appliance-Installation"
                        target=""
                        title="Appliance Installation">Appliance Installation</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Drips-and-Leaks"
                        target=""
                        title="Drips and Leaks">Drips and Leaks</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Plumbing/Trenchless-Sewer-Repair"
                        target=""
                        title="Trenchless Sewer Repair"
                        >Trenchless Sewer Repair</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="" data-depth="0">
                  <a
                    href="/Plumbing/Drain-Maintenance"
                    target=""
                    class=""
                    title="Drain Maintenance">Drain Maintenance</a
                  >
                </li>

                <li class="parent" data-depth="0">
                  <a
                    href="/Heating"
                    target=""
                    class="dropdown-toggle"
                    title="Heating">Heating<i class="icon false"></i></a
                  >

                  <ul class="dropdown" data-depth="0">
                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Furnaces"
                        target=""
                        title="Furnaces">Furnaces</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Boilers"
                        target=""
                        title="Boilers">Boilers</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Humidity-Control"
                        target=""
                        title="Humidity Control">Humidity Control</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Air-Purification"
                        target=""
                        title="Air Purification">Air Purification</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Ductwork"
                        target=""
                        title="Ductwork">Ductwork</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Heating/Heat-Pumps"
                        target=""
                        title="Heat Pumps">Heat Pumps</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="parent" data-depth="0">
                  <a
                    href="/Air-Conditioning"
                    target=""
                    class="dropdown-toggle"
                    title="Air Conditioning"
                    >Air Conditioning<i class="icon false"></i></a
                  >

                  <ul class="dropdown" data-depth="0">
                    <li class="" data-depth="1">
                      <a
                        href="/Air-Conditioning/Repair"
                        target=""
                        title="Repair">Repair</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Air-Conditioning/Replacement"
                        target=""
                        title="Replacement">Replacement</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="parent" data-depth="0">
                  <a
                    href="/Why-Us"
                    target=""
                    class="dropdown-toggle"
                    title="Why Us?">Why Us?<i class="icon false"></i></a
                  >

                  <ul class="dropdown" data-depth="0">
                    <li class="" data-depth="1">
                      <a
                        href="/Why-Us/Straightforward-Pricing"
                        target=""
                        title="Straightforward Pricing"
                        >Straightforward Pricing</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Why-Us/Super-Trucks"
                        target=""
                        title="Super Trucks">Super Trucks</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Why-Us/Financing"
                        target=""
                        title="Financing">Financing</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Why-Us/Testimonials"
                        target=""
                        title="Testimonials">Testimonials</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/Why-Us/The-Guardian-Program"
                        target=""
                        title="The Guardian Program">The Guardian Program</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="parent" data-depth="0">
                  <a
                    href="/About-Us"
                    target=""
                    class="dropdown-toggle"
                    title="About Us">About Us<i class="icon false"></i></a
                  >

                  <ul class="dropdown" data-depth="0">
                    <li class="" data-depth="1">
                      <a
                        href="/About-Us/FAQ"
                        target=""
                        title="FAQ">FAQ</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/About-Us/Consumer-Bill-of-Rights"
                        target=""
                        title="Consumer Bill of Rights"
                        >Consumer Bill of Rights</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/About-Us/Blog"
                        target=""
                        title="Blog">Blog</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/About-Us/Free-Estimate"
                        target=""
                        title="Free Estimate">Free Estimate</a
                      >
                    </li>

                    <li class="" data-depth="1">
                      <a
                        href="/About-Us/Careers"
                        target=""
                        title="Careers">Careers</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="" data-depth="0">
                  <a
                    href="/Contact-Us"
                    target=""
                    class=""
                    title="Contact Us">Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
